@import url(https://fonts.googleapis.com/css?family=Rajdhani);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
	background-image: url("../img/back.png");
	background-position-x: center;
  background-repeat: no-repeat; /* Do not repeat the image */
	background-color: #cccccc;
	color:#f3f3f3;
}

p{
	margin: 0px 0px 15px 0px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color:#f3f3f3;
	font-size: 18px;
}

a{
	color:#f3f3f3;
	text-decoration: none;
}

hr{
	margin-top:20px;
	border: 1px solid #f3f3f3;
}

#central_section{
	margin: 0px 0px 50px 0px;
  padding:20px;
 	color: #f3f3f3;
	margin: 0 auto;
  max-width: 900px;

}

#title{
	font-family: 'Rajdhani', sans-serif;
  margin: 30px 0px 40px 0px;
	text-align: center;
	font-size: 120px;
	height: 120px;
}

#foto{
	height: 200px;
	display: block;
  margin-left: auto;
  margin-right: auto;
	padding-top: 20px;
}

#social-section{
	text-align: center;
}

#project-section{
	text-align: center;
}

.image-holder{
	 display: inline-block;
   margin: 10px;
}

.link-holder{
	  display: inline-block;
    margin: 10px 20px 10px 20px;
	  font-family: 'Rajdhani', sans-serif;
	  font-size: 40px;
	  text-decoration: none;
}

 .wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -2em;
}
