@import url(https://fonts.googleapis.com/css?family=Rajdhani);
@import url(https://fonts.googleapis.com/css?family=Raleway);

html, body{
	min-height: 100%;
}

body{
	background-image: url("../img/back.jpg");
	background-size: cover;
	background-position-x: center;
	background-repeat: no-repeat;
	background-color: #3d545c;
	color:#f3f3f3;
	
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

p{
	margin: 0px 0px 15px 0px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color:#f3f3f3;
	font-size: 18px;
}

a{
	color:#f3f3f3;
	text-decoration: none;
}

hr{
	margin-top:20px;
	border: 1px solid #f3f3f3;
}

#central_section{
	margin: 0px 0px 50px 0px;
	padding:20px;
 	color: #f3f3f3;
	margin: 0 auto;
	max-width: 900px;

}

#title{
	font-family: 'Rajdhani', sans-serif;
  margin: 30px 0px 20px 0px;
	text-align: center;
	font-size: 120px;
}

#foto{
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

#social-section{
	text-align: center;
}

#project-section{
	text-align: center;
}

.image-holder{
	 display: inline-block;
   margin: 20px 20px 10px 20px;
}

.icon-image{
		height: 40px;
	}

.link-holder{
	  display: inline-block;
    margin: 10px 20px 10px 20px;
	  font-family: 'Rajdhani', sans-serif;
	  font-size: 40px;
	  text-decoration: none;
}

@media screen and (orientation: landscape) {
	p{
		font-size: 18px;
  }
	
  .link-holder{
		font-size: 40px;
  }
	
	#foto{
		height: 200px;
  }
	
	.icon-image{
		height: 40px;
	}
}



@media screen and (orientation: portrait) {
	p{
		font-size: 30px;
  }
	
  .link-holder{
		font-size: 60px;
  }
	
	#foto{
		height: 350px;
  }
	
	.icon-image{
		height: 80px;
	}
}


